<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full text-[black] min-h-screen bg-zinc-900 p-5 flex flex-col gap-5">
        <a class="p-2 w-[6vw] rounded-lg bg-red-700 text-[white] mb-2" href="/logout">Logout</a>
        
        <h3 class="text-[white] opacity-[.7]">Edit your post</h3>
        <form class="flex flex-col" action="/update/<%= post._id%>" method="post">
            <textarea class="bg-transparent mb-2 w-1/3 resize-none border-2 outline-none text-[white] opacity-[.8] border-zinc-600 rounded-lg p-5" name="content" placeholder="What's on your mind"><%= post.content%></textarea>
            <input class="w-[13vw] text-[black] cursor-pointer text-[1.5vw] rounded-lg h-[4vw] bg-yellow-400" type="submit" value="Update Post">
        </form>
    
</body>
</html>
