<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full text-[black] min-h-screen bg-zinc-900 p-10 flex flex-col gap-5">
        <h1 class="text-3xl text-[white]">Create Account</h1>
        <form  action="/register" method="post">
        <input class="p-5 w-1/2 mb-2 rounded-lg py-3 bg-trasparent outline-none border-2 border-zinc-900" name="name" type="text" placeholder="Name">
        <input class="p-5 w-1/2 mb-2 rounded-lg py-3 bg-trasparent outline-none border-2 border-zinc-900" name="userName" type="text" placeholder="UserName">
        <input class="p-5 w-1/2 mb-2 rounded-lg py-3 bg-trasparent outline-none border-2 border-zinc-900" name="email" type="email" placeholder="Email">
        <input class="p-5 w-1/2 mb-2 rounded-lg py-3 bg-trasparent outline-none border-2 border-zinc-900" name="age" type="number" placeholder="Age">
        <input class="p-5 w-1/2 mb-2 rounded-lg py-3 bg-trasparent outline-none border-2 border-zinc-900" name="password" type="text" placeholder="Password"><br>
        <div class="has flex w-1/2 gap-48 ">
            <input class="py-3 px-5 cursor-pointer rounded-lg bg-blue-400 mb-5 w-1/4" type="submit" value="Create Account">
        <a class="py-3 px-5 rounded-lg bg-[orange] mb-5 w-1/6 " href="/login">Login</a>
        </div>
    </form>    
    
    </div>
</body>
</html>